# Created by .ignore support plugin (hsz.mobi)

.idea

# Mac
.DS_Store

# files created / used in import process analysis
count-log-events-results.txt
extract-job-info-results.txt

cantabular-import/analysis/count-log-events/*.txt
cantabular-import/analysis/tmp/*.txt

cantabular-import/analysis/simple-plot/*.svg
